$white: #ffffff;
$default: #ced4de;
$primary: rgb(73, 204, 104);
$secondary: #ecf0f1;
$success: #46b655;
$warning: #f9971e;
$danger: #d21c1c;
$info: #3598db;
$grey: #7f8c8d;
$silver: #bcbcbc;
$text: rgba(0, 0, 0, 0.65);

@function color-light-percent($target, $percentage) {
    @return lighten($target, $percentage);
}

@function color-dark-percent($target, $percentage) {
    @return darken($target, $percentage);
}

$darkGrey: #717374;
$dark: #2f3435;

:export {
    default: $default;
    primary: $primary;
    primaryLight5: color-light-percent($primary, 5%);
    primaryLight15: color-light-percent($primary, 15%);
    primaryLight25: color-light-percent($primary, 25%);
    primaryLight35: color-light-percent($primary, 35%);
    primaryLight40: color-light-percent($primary, 40%);
    primaryLight45: color-light-percent($primary, 45%);
    primaryLight50: color-light-percent($primary, 50%);
    primaryDark5: color-dark-percent($primary, 5%);
    primaryDark10: color-dark-percent($primary, 10%);
    primaryDark15: color-dark-percent($primary, 15%);
    primaryDark25: color-dark-percent($primary, 25%);
    primaryDark35: color-dark-percent($primary, 35%);
    primaryDark45: color-dark-percent($primary, 45%);
    secondary: $secondary;
    secondaryLight5: color-light-percent($secondary, 5%);
    secondaryLight15: color-light-percent($secondary, 15%);
    secondaryLight25: color-light-percent($secondary, 25%);
    secondaryLight35: color-light-percent($secondary, 35%);
    secondaryLight45: color-light-percent($secondary, 45%);
    secondaryDark5: color-dark-percent($secondary, 5%);
    secondaryDark10: color-dark-percent($secondary, 10%);
    secondaryDark15: color-dark-percent($secondary, 15%);
    secondaryDark25: color-dark-percent($secondary, 25%);
    secondaryDark35: color-dark-percent($secondary, 35%);
    secondaryDark45: color-dark-percent($secondary, 45%);
    success: $success;
    successLight5: color-light-percent($success, 5%);
    successLight10: color-light-percent($success, 10%);
    successLight15: color-light-percent($success, 15%);
    successLight25: color-light-percent($success, 25%);
    successLight35: color-light-percent($success, 35%);
    successLight45: color-light-percent($success, 45%);
    successDark5: color-dark-percent($success, 5%);
    successDark10: color-dark-percent($success, 10%);
    successDark15: color-dark-percent($success, 15%);
    successDark25: color-dark-percent($success, 25%);
    successDark35: color-dark-percent($success, 35%);
    successDark45: color-dark-percent($success, 45%);
    warning: $warning;
    warningLight5: color-light-percent($warning, 5%);
    warningLight15: color-light-percent($warning, 15%);
    warningLight25: color-light-percent($warning, 25%);
    warningLight35: color-light-percent($warning, 35%);
    warningLight45: color-light-percent($warning, 45%);
    warningDark5: color-dark-percent($warning, 5%);
    warningDark10: color-dark-percent($warning, 10%);
    warningDark15: color-dark-percent($warning, 15%);
    warningDark25: color-dark-percent($warning, 25%);
    warningDark35: color-dark-percent($warning, 35%);
    warningDark45: color-dark-percent($warning, 45%);
    danger: $danger;
    dangerLight5: color-light-percent($danger, 5%);
    dangerLight15: color-light-percent($danger, 15%);
    dangerLight25: color-light-percent($danger, 25%);
    dangerLight35: color-light-percent($danger, 35%);
    dangerLight45: color-light-percent($danger, 45%);
    dangerDark5: color-dark-percent($danger, 5%);
    dangerDark10: color-dark-percent($danger, 10%);
    dangerDark15: color-dark-percent($danger, 15%);
    dangerDark25: color-dark-percent($danger, 25%);
    dangerDark35: color-dark-percent($danger, 35%);
    dangerDark45: color-dark-percent($danger, 45%);
    grey: $grey;
    greyLight5: color-light-percent($grey, 5%);
    greyLight15: color-light-percent($grey, 15%);
    greyLight25: color-light-percent($grey, 25%);
    greyLight35: color-light-percent($grey, 35%);
    greyLight45: color-light-percent($grey, 45%);
    greyLight75: color-light-percent($grey, 75%);
    greyLight85: color-light-percent($grey, 85%);
    greyLight95: color-light-percent($grey, 95%);
    greyDark5: color-dark-percent($grey, 5%);
    greyDark10: color-dark-percent($grey, 10%);
    greyDark15: color-dark-percent($grey, 15%);
    greyDark25: color-dark-percent($grey, 25%);
    greyDark35: color-dark-percent($grey, 35%);
    greyDark40: color-dark-percent($grey, 40%);
    greyDark45: color-dark-percent($grey, 45%);
    info: $info;

    white: $white;
    silver: $silver;

    darkGrey: $darkGrey;
    dark: $dark;
    disabled: color-light-percent($grey, 35%);

    text: $text;
    textDisabled: color-light-percent($grey, 35%);
    textPlaceholder: color-light-percent($grey, 25%);
}
