@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: local('Lato'), url(./fonts/Lato-Bold.ttf) format('opentype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: local('Lato'), url(./fonts/Lato-Black.ttf) format('opentype');
}

$baseSize: 1rem; // 16px
$scaleRatio: 1.333; // Major-Second Scale
$lineHeightScale: 1.4; // Line Height Scale

$font-xxs: calc(#{$baseSize} / #{$scaleRatio} / #{$scaleRatio} / #{$scaleRatio} / #{$scaleRatio});
$font-xs: calc(#{$baseSize} / #{$scaleRatio} / #{$scaleRatio} / #{$scaleRatio});
$font-sm: calc(#{$baseSize} / #{$scaleRatio} / #{$scaleRatio});
$font-md: calc(#{$baseSize} / #{$scaleRatio});
$font-lg: calc(#{$baseSize});
$font-xl: calc(#{$baseSize} * #{$scaleRatio});
$font-xxl: calc(#{$baseSize} * #{$scaleRatio} * #{$scaleRatio});
$font-xxxl: calc(#{$baseSize} * #{$scaleRatio} * #{$scaleRatio} * #{$scaleRatio});
$font-xxxxl: calc(#{$baseSize} * #{$scaleRatio} * #{$scaleRatio} * #{$scaleRatio} * #{$scaleRatio});

$line-height-xxs: calc(#{$font-xxs} * #{$lineHeightScale});
$line-height-xs: calc(#{$font-xs} * #{$lineHeightScale});
$line-height-sm: calc(#{$font-sm} * #{$lineHeightScale});
$line-height-md: calc(#{$font-md} * #{$lineHeightScale});
$line-height-lg: calc(#{$font-lg} * #{$lineHeightScale});
$line-height-xl: calc(#{$font-xl} * #{$lineHeightScale});
$line-height-xxl: calc(#{$font-xxl} * #{$lineHeightScale});
$line-height-xxxl: calc(#{$font-xxxl} * #{$lineHeightScale});
$line-height-xxxxl: calc(#{$font-xxxxl} * #{$lineHeightScale});

$font-family: Lato, Arial, sans-serif;

:export {
    fontFamily: $font-family;
    fontXXS: $font-xxs;
    fontXS: $font-xs;
    fontSM: $font-sm;
    fontMD: $font-md;
    fontLG: $font-lg;
    fontXL: $font-xl;
    fontXXL: $font-xxl;
    fontXXXL: $font-xxxl;
    fontXXXXL: $font-xxxxl;
    lineHeightXXS: $line-height-xxs;
    lineHeightXS: $line-height-xs;
    lineHeightSM: $line-height-sm;
    lineHeightMD: $line-height-md;
    lineHeightLG: $line-height-lg;
    lineHeightXL: $line-height-xl;
    lineHeightXXL: $line-height-xxl;
    lineHeightXXXL: $line-height-xxxl;
    lineHeightXXXXL: $line-height-xxxxl;
}
